[Desktop Entry]
Type=Application
Version=1.1
Name=Avalonia XAML Playground
Comment=Interactive Avalonia XAML playground
Exec=rinconjr-avalonia-xaml-playground
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Development;IDE;
Keywords=avalonia;xaml;dotnet;playground;
StartupNotify=true
StartupWMClass=Avalonia XAML Playground
